---
import Layout from "../layouts/Layout.astro";
import Envelope from "../components/Envelope.astro";
---

<Layout title="Forside">
  <Envelope />

  <article class="full-bleed hero">
    <h1>overskrift</h1>
  </article>
  <article id="about">
    <h2>about me</h2>
  </article>
  <article id="task">
    <h2>task</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque
      neque, architecto beatae, placeat libero laboriosam veritatis atque
      dignissimos praesentium, nulla cumque doloribus tenetur accusamus
      reiciendis iusto velit quas et hic?
    </p>
  </article>
  <article id="skills">
    <h2>skills</h2>
    <ul>
      <lh>kode sprog</lh>
      <li>HTML</li>
      <li>CSS</li>
      <li>JS</li>
      <lh>Værktøj og programmer</lh>
      <li>astro</li>
      <li>react</li>
      <li>github</li>
      <li>vscode</li>
      <li>illustrator</li>
    </ul>
  </article>
  <article id="projekts"><h2>projekts</h2></article>
  <footer id="footer">
    <nav>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/julie-kristina-jensen-7430502a2/"
            >Linkedin</a
          >
        </li>
        <li><a href="https://github.com/juleskj">Github</a></li>
        <li><a href="https://codepen.io/Juliekj">Codepen</a></li>
      </ul>
    </nav>
  </footer>
</Layout>

<style>
  #skills {
    li {
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
  h2::before {
    /* content: "";

    background-image: url("/public/img/orange_form.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px; */
  }

  footer {
    & a {
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
  article {
    margin: 100px 0;
  }
</style>
