---
import Layout from "../layouts/Layout.astro";
import SkillList from "../components/SkillList.astro";
import HeaderShape from "../components/HeaderShape.astro";
import HeroText from "../components/HeroText.astro";
import ProjektCard from "../components/ProjektCard.astro";
import CardLayout from "../layouts/CardLayout.astro";
import ShapeDiv from "../components/ShapeDiv.astro";
---

<Layout title="JKJ">
  <HeroText hero_text="Julie K. Jensen" />
  <article id="about">
    <ShapeDiv shape="yellow" duration="duration4s" position="bottom_right">
      <HeaderShape hText="Hej! mit navn er Julie" shape="orange_shape" />
      <h3>jeg er en <em> MMD front-end udvilker </em> under uddanelse</h3>
      <p>
        Som kreativ frontend-udvikler fokuserer jeg på at skabe fleksibel,
        responsiv og genanvendelig kode. Jeg er ivrig efter at udvide mine
        kompetencer inden for forskellige frameworks og teknologier. Jeg
        arbejder både selvstændigt og i teams og er altid energisk og nysgerrig,
        når det kommer til at lære og udvikle mine færdigheder. Mit mål er at
        sikre, at brugerne får en optimal oplevelse, når de besøger hjemmesiden.
        Under min uddannelse har jeg udviklet omkring 10+ hjemmesider, og jeg
        ser frem til at bygge endnu flere i fremtiden.
      </p>
    </ShapeDiv>
  </article>

  <article id="skills" class="full-bleed">
    <HeaderShape hText="Mine skills" shape="blue_shape" />
    <p>
      Her er de færdigheder, jeg har udviklet gennem min tid på KEA, hvor jeg
      har været med til at udvikle 10+ hjemmesider.
    </p>
    <SkillList />
  </article>

  <div id="projekts" class="full-bleed">
    <section class="text_box">
      <HeaderShape hText="Mine projekter" shape="yellow_shape" />

      <p>
        Her er nogle af de projekter, jeg selv har udviklet eller været en del
        af i et team, som jeg er mest stolt af. I disse projekter har jeg
        anvendt forskellige værktøjer og viden for at løse opgaverne.
      </p>
    </section>

    <CardLayout>
      <ProjektCard
        tag_text="flex og grid"
        img_url="/img/potfolie.webp"
        img_alt="billede af knapper for mit protfolie for 1 semester"
        card_header="første portfolie"
        card_text="Dette er mit første portfolio, som jeg udviklede til eksamen på mit første semester. Her lærte jeg at bruge grid og flexbox for at sikre, at mine elementer blev responsive."
        card_link="https://jkjportfolie.netlify.app/"
        link_text="Se website"
        target="_blank"
      />

      <ProjektCard
        tag_text="værktøj & framework"
        img_url="/img/karrusel_img.webp"
        img_alt="billede af ticket siden for karrusel redesign"
        card_header="Karrusel case"
        card_text="I dette projekt arbejdede jeg i et teams, og jeg var ansvarlig for at udvikle ticketsiden, som kan ses på billedet. Her brugte jeg komponenter til den gentagne ticket-boks."
        card_link="https://karruselbuild7.netlify.app/"
        link_text="Se website"
        target="_blank"
      />

      <ProjektCard
        tag_text="ux & framework"
        img_url="/img/i_traad_med_verden.webp"
        img_alt="billede af logo for i tråd med verden som jeg har illustraret"
        card_header="i tråd med verden case"
        card_text="I denne case arbejdede jeg i teams, jeg arbejde med GSAP til at skabe en simpel scroll-trigger animation. Jeg var også ansvarlig for at lave illustrationerne."
        card_link="https://itmv007.netlify.app/"
        link_text="Se website"
        target="_blank"
      />
      <ProjektCard
        tag_text="ux/ui & framework"
        img_url="/img/sko_fetch.webp"
        img_alt="billede af en række af sko"
        card_header="K2 redesign case"
        card_text="K2 var en team-case og et redesign af et website. Jeg havde ansvaret for at overse fetch-processen samt udvikle betalingsdelen af siden."
        card_link="https://k2gruppe12.netlify.app/"
        link_text="Se website"
        target="_blank"
      />

      <ProjektCard
        tag_text="JS & HTML"
        img_url="/img/eget_spil.webp"
        img_alt="billede af startsiden for mit eget spil"
        card_header="Eget spil"
        card_text="I dette projekt skulle jeg udvikle mit eget spil ved hjælp af JavaScript og HTML. Du kan spille det ved at klikke på linket:"
        card_link="https://mars-muncher.netlify.app/"
        link_text="Se website"
        target="_blank"
      />
    </CardLayout>
  </div>

  <article id="task">
    <ShapeDiv shape="yellow_moon" duration="duration8s" position="top_right">
      <HeaderShape hText="opgave under praktik" shape="orange_moon" />
      <h3>her er lidt af <em>hvad jeg kan</em> og har arbejdet med</h3>
      <p>
        Jeg har arbejdet med frameworks som Astro til at udvikle komponenter.
        Her har jeg skabt kode-snippets, der kan genbruges på tværs af projekter
        og tilpasses i flere varianter af samme komponent. Jeg har en solid
        forståelse af JavaScript, CSS og HTML og er meget ivrig efter at lære
        mere. Derudover har jeg et stærkt kendskab til både grid og flexbox.
      </p>
    </ShapeDiv>
  </article>
</Layout>

<style>
  #projekts {
    padding: 100px 0;

    & .text_box {
      padding: var(--even-padding-l) 0;
    }
  }

  article {
    padding: 100px 0;
  }
</style>
