---
import Layout from "../layouts/Layout.astro";
import SkillList from "../components/SkillList.astro";
import HeaderShape from "../components/HeaderShape.astro";
---

<Layout title="Forside">
  <article class="full-bleed hero">
    <h1>overskrift</h1>
  </article>
  <article id="about">
    <HeaderShape hText="about me" shape="orange_shape" />
    <p>
      Som kreativ frontend-designer vil jeg udvikle fleksibel og responsiv kode,
      der kan genbruges. Jeg arbejder både selvstændigt og i teams og er
      energisk i min læring og udvidelse af min viden om kodning.
    </p>
  </article>
  <article id="task">
    <h2>task</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque
      neque, architecto beatae, placeat libero laboriosam veritatis atque
      dignissimos praesentium, nulla cumque doloribus tenetur accusamus
      reiciendis iusto velit quas et hic?
    </p>
  </article>
  <article id="skills" class="full-bleed">
    <HeaderShape hText="My skills" shape="blue_shape" />
    <SkillList />
  </article>
  <article id="projekts"><h2>projekts</h2></article>
</Layout>

<style>
  #skills {
  }

  article {
    padding: 100px 0;
  }
</style>
