---
import Layout from "../layouts/Layout.astro";
import SkillList from "../components/SkillList.astro";
import HeaderShape from "../components/HeaderShape.astro";
import HeroText from "../components/HeroText.astro";
import ProjektCard from "../components/ProjektCard.astro";
import CardLayout from "../layouts/CardLayout.astro";
---

<Layout title="Forside">
  <HeroText />
  <article id="about">
    <section class="sectionShape">
      <HeaderShape hText="hej! mit navn er Jules" shape="orange_shape" />
      <h3>jeg er en <em> MMD front-end udvilker </em> under uddanelse</h3>
      <p>
        Som kreativ frontend-udvikler fokuserer jeg på at skabe fleksibel,
        responsiv og genanvendelig kode. Jeg er ivrig efter at udvide mine
        kompetencer inden for forskellige frameworks og teknologier. Jeg
        arbejder både selvstændigt og i teams og er altid energisk og nysgerrig,
        når det kommer til at lære og udvikle mine færdigheder. Mit mål er at
        sikre, at brugerne får en optimal oplevelse, når de besøger hjemmesiden.
        Under min uddannelse har jeg udviklet omkring 10 hjemmesider, og jeg ser
        frem til at bygge endnu flere i fremtiden.
      </p>
    </section>
  </article>

  <article id="task">
    <h2>opgave under praktik</h2>
    <h3>hvad du kan<em> forvente </em>af mig mens jeg er i praktik hos jer</h3>
  </article>

  <article id="skills" class="full-bleed">
    <HeaderShape hText="My skills" shape="blue_shape" />
    <SkillList />
  </article>

  <!-- const { tag_text, img_url, card_header, card_text, card_link, link_text } =
  Astro.props; -->

  <div id="projekts">
    <section class="text_box">
      <h2>Projekts</h2>
      <p>
        her er nogle af de projekter jeg selv har laver eller været en del af
        igennem et team som jeg er mest stolt. her har jeg skulle bruge
        forskellige værtøjer og viden til at løse opgaven.
      </p>
    </section>
    <CardLayout>
      <ProjektCard
        tag_text="js & css"
        img_url="https://placehold.co/600x400"
        card_header="første portfolie"
        card_text="Lorem ipsum dolor sit amet, consectenaam, quial. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in id est laborum."
        card_link="https://jkjportfolie.netlify.app/"
        link_text="Se website på netlify"
      />

      <ProjektCard
        tag_text="værktøj & framework"
        img_url="https://placehold.co/600x400"
        card_header="Karrusel case"
        card_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed datat non proident, sunt in culpa qui officia "
        card_link="https://karruselbuild7.netlify.app/"
        link_text="Se website på netlify"
      />

      <ProjektCard
        tag_text="ux & værktøj"
        img_url="https://placehold.co/600x400"
        card_header="i tåd med verden case"
        card_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
        card_link="https://itmv007.netlify.app/"
        link_text="Se website på netlify"
      />
      <ProjektCard
        tag_text="ux/ui & framework"
        img_url="https://placehold.co/600x400"
        card_header="K2 redesign case"
        card_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
        card_link="https://k2gruppe12.netlify.app/"
        link_text="Se website på netlify"
      />

      <ProjektCard
        tag_text="værktøj & framework"
        img_url="https://placehold.co/600x400"
        card_header="Eget spil"
        card_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
        card_link="https://mars-muncher.netlify.app/"
        link_text="Se website på netlify"
      />
    </CardLayout>
  </div>
</Layout>

<style>
  #projekts {
    padding: 100px 0;

    & .text_box {
      padding: var(--even-padding-l) 0;
    }
  }

  #skills {
    border-bottom: var(--black) 1px dashed;
    border-top: var(--black) 1px dashed;
  }

  #about {
    & .sectionShape {
      position: relative;

      &::before {
        z-index: -1;
        content: "";
        position: absolute;
        right: -1rem;
        bottom: -10rem;

        background-image: url("../../public/img/yellow_form.svg");
        background-repeat: no-repeat;
        background-size: contain;

        aspect-ratio: 2/2;
        width: 40%;
        height: auto;
        opacity: 90%;

        animation: hover_kf 6s ease-in-out infinite;
      }

      & * > :not(img) {
        z-index: 1;
      }

      /* & img {
        position: absolute;
        bottom: -40%;
        right: 10%;
        width: 40%;
        height: auto;
        z-index: -1;
        opacity: 90%;
      } */
    }
  }
  em {
    color: var(--orange);
  }
  article {
    padding: 100px 0;
  }
</style>
