---

---

<div class="contact_container hover">
  <div class="round_text">
    <a href="/#footer"></a>
  </div>
</div>

<script>
  window.onscroll = function (event) {
    if (window.innerHeight + window.pageYOffset >= document.body.offsetHeight) {
      document.querySelector(".contact_container").classList.add("disappear");
    } else {
      document
        .querySelector(".contact_container")
        .classList.remove("disappear");
    }
  };
</script>

<style>
  @media (800px < width) {
    .contact_container {
      position: fixed;
      bottom: 20%;
      right: 5%;
      z-index: 9;

      & .round_text {
        background-color: var(--beige);
        border-radius: 50%;
        width: 160px;
        height: 160px;

        display: flex;
        justify-content: center;
        align-items: center;
        &::after {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
          background-image: url("../../public/img/contact_text.svg");
          background-repeat: no-repeat;
          background-size: cover;
          animation: spin_kf 10s linear infinite;
          z-index: 0;
        }
      }

      & a {
        display: block;
        width: 80px;
        height: 80px;
        background-image: url("../../public/img/closed_envelope.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 25px;
        z-index: 1;

        &:hover {
          transition: 0.2s;
          background-image: url("../../public/img/open_envolope.svg");
        }
      }
    }
  }

  .disappear {
    animation: disappear_kf 1s ease-out 1;
    animation-fill-mode: both;
  }

  @keyframes disappear_kf {
    from {
      opacity: 1;
      transform: scaleX(1);
    }

    to {
      opacity: 0;
      transform: scaleX(0);
      transform: translateY(100px);
    }
  }
</style>
