---
const { hText, shape } = Astro.props;
---

<h2 class={shape}>{hText}</h2>

<style>
  :root {
    --shape-width: 100px;
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  h2::before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: calc(var(--shape-width) * -0.5);
    min-width: var(--shape-width);
    min-height: var(--shape-width);
  }

  .blue_shape::before {
    background-image: url("/img/blue_form.svg");
  }
  .orange_shape::before {
    background-image: url("/img/orange_form.svg");
  }
  .yellow_shape::before {
    background-image: url("/img/yellow_form.svg");
  }
  .yellow_moon::before {
    background-image: url("/img/yellowMoon.svg");
  }
  .orange_moon::before {
    background-image: url("/img/orangeMoon.svg");
  }
</style>
