---
const { hText, shape } = Astro.props;
---

<h2 class={shape}>{hText}</h2>

<style>
  h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  h2::before {
    content: "";
    display: inline-block;

    background-repeat: no-repeat;
    background-size: contain;
    margin-right: -50px;
  }

  .blue_shape::before {
    background-image: url("../../public/img/blue_form.svg");
    min-width: 100px;
    min-height: 100px;
  }
  .orange_shape::before {
    background-image: url("../../public/img/orange_form.svg");
    min-width: 100px;
    min-height: 100px;
  }
</style>
