---
const { shape, duration, position } = Astro.props;
---

<section class={"sectionShape" + " " + shape + " " + duration + " " + position}>
  <slot />
</section>

<style>
  .sectionShape {
    position: relative;

    &::before {
      z-index: -1;
      content: "";
      position: absolute;

      background-repeat: no-repeat;
      background-size: contain;

      aspect-ratio: 2/2;
      width: 40%;
      height: auto;
      opacity: 90%;

      animation: hover_kf ease-in-out infinite;
    }
  }
  /* diffrent kinds of shaps */
  .yellow::before {
    background-image: url("/img/yellow_form.svg");
  }
  .orange::before {
    background-image: url("/img/orange_form.svg");
  }

  .blue::before {
    background-image: url("/img/blue_form.svg");
  }

  .orange_moon::before {
    background-image: url("/img/orangeMoon.svg");
  }
  .yellow_moon::before {
    background-image: url("/img/yellowMoon.svg");
  }

  /* speed of the shape hovering */
  .duration4s::before {
    animation-duration: 4s;
  }
  .duration6s::before {
    animation-duration: 6s;
  }
  .duration8s::before {
    animation-duration: 8s;
  }

  /* shape placement */

  .top_left::before {
    left: -1rem;
    top: -9rem;
  }
  .top_right::before {
    right: -1rem;
    top: -9rem;
  }
  .bottom_left::before {
    left: -1rem;
    bottom: -9rem;
  }
  .bottom_right::before {
    right: -1rem;
    bottom: -9rem;
  }
</style>
