:root {
  --content-width: min(1000px, 100% - 1rem * 2);
  --full-width: minmax(1rem, 1fr);
  --feature-width: minmax(0, 2rem);
  --flow-space: 0.5rlh;
  --border-radius: 42px;
  --small-border-radius: 20px;

  /* padding */
  --small-padding: 4px 16px;
  --big-padding: 15px 45px;
  --big-bottom-padding: 35px 25px;

  --even-padding-xs: 15px;
  --even-padding-s: 35px;
  --even-padding-m: 45px;
  --even-padding-l: 55px;

  /* colors */
  --beige: #efeae6;
  --black: #050b07;
  /* font sizes */

  --fluid-h1: clamp(2.8125rem, 2.5951rem + 1.087vw, 3.4375rem);
  --fluid-h2: clamp(2.1875rem, 1.9701rem + 1.087vw, 2.8125rem);
  --fluid-h3: clamp(1.875rem, 1.6576rem + 1.087vw, 2.5rem);
  --fluid-h4: clamp(1.5625rem, 1.3451rem + 1.087vw, 2.1875rem);
  --fluid-h5: clamp(1.4375rem, 1.2853rem + 0.7609vw, 1.875rem);
  --fluid-h6: clamp(1.25rem, 1.1413rem + 0.5435vw, 1.5625rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: 600;
  &::first-letter {
    text-transform: capitalize;
  }
}

h1 {
  font-size: var(--fluid-h1);
  font-family: "Asap", sans-serif;
}
h2 {
  font-size: var(--fluid-h2);
  font-family: "Source Code Pro", monospace;
}
h3 {
  font-size: var(--fluid-h3);
  font-family: "Source Code Pro", monospace;
}
h4 {
  font-size: var(--fluid-h4);
  font-family: "Source Code Pro", monospace;
}
h5 {
  font-size: var(--fluid-h5);
  font-family: "Source Code Pro", monospace;
}
h6,
lh {
  font-size: var(--fluid-h6);
  font-family: "Source Code Pro", monospace;
}

p {
  max-width: 70ch;
}

p,
ul,
ol {
  font-family: "Anaheim", sans-serif;
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  --flow-space: 0.5em;
}

p {
  max-width: 70ch;
}
/* 
 For `h2`, sæt `—flow-space`-værdien til `2rlh`. */
h1,
h2 {
  --flow-space: 1rlh;
}

/* 
For `h3`, sæt `—flow-space`-værdien til `1rlh`. */
h3,
h4 {
  --flow-space: 0.5rlh;

  /* 
  For alle elementer, der kommer lige 
    efter **`h3`**, reducér `—flow-space` til `.25rlh`. */

  & > {
    --flow-space: 0.25rlh;
  }
}

h5,
h6 {
  --flow-space: 0.5rlh;
}

button {
  --flow-space: 0.5rlh;
}

.popup {
  view-timeline: --subjectReveal block;
  animation-timeline: --subjectReveal;

  animation-name: appear;
  animation-range-start: cover -50%;
  animation-fill-mode: both;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
