---
import Link from "../Link.astro";
---

<script>
  let isScrolling;
  const header = document.querySelector("header");

  document.addEventListener("scroll", function () {
    window.clearTimeout(isScrolling);

    isScrolling = setTimeout(function () {
      if (scrollY > 10) {
        console.log("you are at the bottom");

        header.style.backgroundColor = "white";
      } else {
        header.style.backgroundColor = "var(--yellow)";
      }
    }, 100);
  });
</script>

<header class="full-bleed none">
  <nav>
    <ul>
      <li>
        <Link
          link_text="Om Mig"
          link_url="/#about"
          size="medium"
          variant="transparent_theme"
        />
      </li>
      <li>
        <Link
          link_text="Erfaring"
          link_url="/#task"
          size="medium"
          variant="transparent_theme"
        />
      </li>
      <li>
        <Link
          link_text="Skills"
          link_url="/#skills"
          size="medium"
          variant="transparent_theme"
        />
      </li>
      <li>
        <Link
          link_text="Projekter"
          link_url="/#projekts"
          size="medium"
          variant="transparent_theme"
        />
      </li>
    </ul>
  </nav>

  <style>
    @media (width < 800px) {
      .none {
        display: none;
      }
    }

    header {
      background-color: var(--yellow);
      position: sticky;
      top: 0;
      z-index: 10;
    }
    nav {
      padding: var(--small-padding);
      margin: 10px;
    }
    li {
      display: contents;
      list-style-type: none;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 1rem;
    }

    a {
      padding: var(--small-padding);
      border-bottom: var(--black) 2px solid;
      text-decoration: none;
      color: var(--black);
      flex: 1 1 100px;
      text-align: center;
      &:hover {
        transition: 0.2s;
        background-color: var(--black);
        color: var(--beige);
      }

      &::first-letter {
        text-transform: capitalize;
      }
    }
  </style>
</header>
