---

---

<div class="cardLayout">
  <slot />
</div>

<style>
  .cardLayout {
    display: flex;
    flex-flow: wrap row;
    align-items: stretch;
    justify-content: space-between;
    gap: 2rem 1rem;
  }
</style>
